@font-face {
    font-family: 'Gotham Rounded Bold Regular';
    src: url('../fonts/GothamRoundedBook.otf') format('otf'); /* Ajusta la ruta al archivo de la fuente según sea necesario */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'GothamItalic';
    src: url('../fonts/GothamRnd-BookIta.otf') format('otf'); /* Ajusta la ruta al archivo de la fuente según sea necesario */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/GothamRnd-Medium.otf') format('otf'); /* Ajusta la ruta al archivo de la fuente según sea necesario */
    font-weight: normal;
    font-style: normal;
  }